body{
    background-image:url("./images/imaheas.jpg");
}

h4{
    color:gainsboro;
text-align: center;
}

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color:  darkturquoise;
    font-family: 'Dancing Script', cursive;
    font-size: 55px;


}
h1
{
text-align: center;
margin-top: 50px;
font-size: 65px;
color: aliceblue;
font-weight: bold;
font-family: 'Moon Dance', cursive;

}
.dice{
margin-top: 70px;
text-align: center;

}

@media (max-width:700px) and (min-width:200px){
    .img1,.img2{
        height: 150px;
        width: 150px;
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 35px;
    }
}
